<body>
  <h1 id="title">A.P.J.Abdul Kalam</h1>
  <div>
    <img id="img" src="../assets/images/apj.jpeg">
  </div>
  <div id="desc">
  <p> Dr. A.P.J. Abdul Kalam was an eminent Indian scientist and the 11th President of India; He made significant</p> 
      <p> contributions to the field of aerospace engineering and is known as the "Missile Man of India.</p>
    </div>
  <div class="legend-container">
    <h1>About the legend </h1>

    <div >
      <p>&#9755; Dr. Kalam has received the coveted civilian awards Padma Bhushan (1981)</p> 
      <p>  and Padma Vibhushan (1990), and the highest civilian honor Bharat Ratna (1997).</p>
      <p>&#9755;  APJ Abdul Kalam was known as the 'Missile Man of India' for his work in the development of ballistic missile  </p> 
      <p>technology.  From 1992 to 1999, Kalam was the Chief Scientific Adviser to the Prime Minister and the Secretary of the DRDO.
         Kalam was the Chief Project Coordinator during the Pokhran II tests.</p>
      <p>&#9755; Dr. Kalam has received the coveted civilian awards Padma Bhushan (1981)</p> 
      <p> .. and Padma Vibhushan (1990), and the highest civilian honor Bharat Ratna (1997).</p>
      
      
       <p>&#9755; Wheeler Island ,a national missile test site in Odisha,was renamed <strong>Kalam</strong></p> 
      <p> <strong>Island</strong> in September 2015.</p>
      <p>&#9755;A prominent road in New Delhi was renamed from Aurangzeb Road to  <strong>Dr</strong></p> 
      <p> <strong>APJ Abdul Kalam Road</strong> in August 2015.</p>
      <p>&#9755; In February 2018,scientists from the Botanical survey of India named a </p> 
      <p>newly found plant species as Dryptes kalamtii,in his honour</p>

      <br><br><br>
    </div>
  </div>
  <div id="final">
    <p>For more information checkout <strong>A.P.J. Abdul Kalam </strong> on wikipidea</p>
  </div>
  <p>Jenkins </p>

</body>

